.MessageOverlay {
  position: absolute;
  display: block;
  padding: 1rem;
  z-index: 2;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #4fbf26;
}

.incorrect {
  background-color: red;
}
