.Info {
  max-width: 75vw;
  padding: 1rem;
  background-color: #010101;
  color: white;
  border-radius: 10px;
  line-height: 1.75rem;
  margin: 10vh auto 0 auto;
}

.Info h1 {
  margin: 1rem auto 0 auto;
  text-align: center;
}
.Info h2 {
  margin: 1rem 0 1rem 0;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

.Info p,
.Info li {
  max-width: 80ch;
}

.social-svg {
  filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg)
    brightness(108%) contrast(108%);
}

.Info-CreatedBy {
  display: block;
  font-style: italic;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: #4fbf26;
  font-weight: 700;
}

ul li a:visited {
  color: #4fbf26;
}
