.Leaderboard {
  margin-top: 10vh;
  font-size: 1.25rem;
  color: white;
  display: flex;
  justify-content: center;
  padding: 5vh;
}

table {
  background-color: #010101;
  padding: 1% 0;
  border-radius: 10px;
}

.Leaderboard tr {
  background-color: #010101;
}

.Leaderboard th {
  text-align: left;
  border-bottom: 3px solid white;
  padding: 2rem 5rem;
}

.Leaderboard td {
  border-bottom: 3px solid white;
  padding: 2rem;
}

table > tbody > tr:last-child td {
  border: none;
}

table > tbody > tr:nth-child(1) {
  background-color: #d6af36;
}

table > tbody > tr:nth-child(2) {
  background-color: #a7a7ad;
}
table > tbody > tr:nth-child(3) {
  background-color: #a77044;
}

.Leaderboard-Rank,
.Leaderboard-Score {
  text-align: center;
}
