.LevelCard-Wrapper {
  padding-top: 6vh;
}

.LevelCard {
  margin: 0 auto;
  border: 4px solid white;
  border-radius: 10px;
  height: 40vh;
  width: 30vh;
  object-fit: contain;
  background-size: 90%;
  background-position: center;
  background-color: rgb(194, 61, 57);
  transition: ease 0.2s;
}

.LevelCard:hover {
  transform: translateY(-5px);
}

.LevelCard a {
  display: block;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.LevelCard a:visited {
  text-decoration: none;
}

.LevelCard-GameplayInfo {
  background-color: #010101;
  color: white;
  max-width: 100ch;
  padding: 0.25rem 1rem;
  border-radius: 10px;
  margin: 2rem auto 0 auto;
  line-height: 1.75rem;
}

.LevelCard-GameplayInfo h2 {
  margin-bottom: 0;
}

.LevelCard-GameplayInfo ol {
  margin-top: 0.25rem;
}
