.LevelCard {
  margin: 15vh auto;
  border: 4px solid white;
  border-radius: 10px;
  height: 40vh;
  width: 30vh;
  object-fit: contain;
  background-size: 90%;
  background-position: center;
  background-color: rgb(194, 61, 57);
}

.LevelCard a {
  display: block;
  color: white;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.LevelCard a:visited {
  text-decoration: none;
}
